<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>gcheck</title>
        <link rel="stylesheet" href="{{static_url('bootstrap.min.css')}}">
        <link rel="stylesheet" href="{{static_url('index.css')}}">
        <script src="{{static_url('jquery.min.js')}}"></script>
    </head>
    <body>
        <div class="navbar navbar-inverse">
            <div class="container">
                <div class="navbar-header">
                    <button class="navbar-toggle" data-target=".navbar-collapse" data-toggle="collapse" type="button">
                        <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span>
                    </button>
                    <a href="/" class="navbar-brand">主页</a>
                    <a href="/task" class="navbar-brand">任务列表</a>
                </div>
            </div>
        </div>
        <div class="main-block">
            <form>
                <div class="form-group">
                    <label for="os">选择操作系统</label>
                    <select class="form-control" id="os">
                        <option>windows</option>
                        <option>linux</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="exampleFormControlInput1">IP地址</label>
                    <input type="input" class="form-control" id="ip" placeholder="">
                </div>
                <div class="form-group">
                    <label for="exampleFormControlInput1">端口</label>
                    <input type="input" class="form-control" id="port" placeholder="22">
                </div>
                <div class="form-group">
                    <label for="exampleFormControlInput1">用户名</label>
                    <input type="input" class="form-control" id="username" placeholder="">
                </div>
                <div class="form-group">
                    <label for="exampleFormControlInput1">密码</label>
                    <input type="password" class="form-control" id="password" placeholder="">
                </div>
                <button type="button" class="btn btn-primary">测试连接</button>
                <button type="button" class="btn btn-primary", id="generate">下发任务</button>
            </form>
        </div>
        <script src="{{static_url('main.js')}}"></script>
    </body>
</html>