<html>
  <head>
    <title>tasks</title>
    <link rel="stylesheet" href="{{static_url('bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{static_url('index.css')}}">
    <script src="{{static_url('jquery.min.js')}}"></script>
  </head>
  <body>
  <div class="navbar navbar-inverse">
      <div class="container">
          <div class="navbar-header">
              <button class="navbar-toggle" data-target=".navbar-collapse" data-toggle="collapse" type="button">
                  <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span>
              </button>
              <a href="/" class="navbar-brand">主页</a>
              <a href="/task" class="navbar-brand">任务列表</a>
          </div>
      </div>
  </div>
  <div class="main-block">
    <div class="ant-table ant-table-default ant-table-scroll-position-left">
      <div class="ant-table-content">
        <div class="ant-table-body">
         <table class="">
          <colgroup>
           <col />
           <col />
           <col />
           <col />
           <col />
           <col />
           <col />
          </colgroup>
          <thead class="ant-table-thead">
           <tr>
            <th class=""><span class="ant-table-header-column">
              <div>
               <span class="ant-table-column-title">目标IP</span>
               <span class="ant-table-column-sorter"></span>
              </div></span></th>
             <th class=""><span class="ant-table-header-column">
              <div>
               <span class="ant-table-column-title">系统</span>
               <span class="ant-table-column-sorter"></span>
              </div></span></th>
            <th class=""><span class="ant-table-header-column">
              <div>
               <span class="ant-table-column-title">任务状态</span>
               <span class="ant-table-column-sorter"></span>
              </div></span></th>
            <th class=""><span class="ant-table-header-column">
              <div>
               <span class="ant-table-column-title">开始时间</span>
               <span class="ant-table-column-sorter"></span>
              </div></span></th>
            <th class=""><span class="ant-table-header-column">
              <div>
               <span class="ant-table-column-title">操作人</span>
               <span class="ant-table-column-sorter"></span>
              </div></span>
            </th>
             <th class=""><span class="ant-table-header-column">
              <div>
               <span class="ant-table-column-title">查看报表</span>
               <span class="ant-table-column-sorter"></span>
              </div></span>
             </th>
           </tr>
          </thead>
          <tbody class="ant-table-tbody">
          {% for task in tasks %}
            {% block task %}
           <tr class="ant-table-row ant-table-row-level-0" data-row-key="68">
             <td class="">{{ escape(task['ip']) }}</td>
             <td class="">{{ escape(task['os']) }}</td>
             <td class="">
                 {% if task['status'] == 'running' %}
                    运行中
                 {% elif task['status'] == 'fail' %}
                    失败
                 {% elif task['status'] == 'init' %}
                    初始化
                 {% elif task['status'] == 'finish' %}
                    已完成
                 {% else %}
                    未知
                 {% end %}
             </td>
             <td class="">{{ escape(task['update_time']) }}</td>
             <td class="">{{ escape(task['op_user']) }}</td>
             <td class="">
                 <a href="/task_report?id={{ escape(task['task_id']) }}">查看报表</a>
                 <a class='del' href='javascript:', id="{{ escape(task['task_id']) }}">删除</a>
             </td>
           </tr>
            {% end %}
          {% end %}
          </tbody>
         </table>
        </div>
      </div>
    </div>
  </div>
  </body>
  <script type="text/javascript">
      $(function(){
        //按钮单击时执行
        $(".del").click(function(){
            var id = $(this).attr('id');
            var tr = $(this).parent().parent()
            $.ajax({
                type: "DELETE",
                url: "/task",
                contentType: "application/json",
                data: JSON.stringify({
                    "task_id": id,
                }),
                dataType: "json",
                success: function (message) {
                    tr.remove();
                    alert("任务删除成功");
                },
                error: function (message) {
                    alert("删除失败" + JSON.stringify(message));
                }
            });
         });
      });
  </script>
</html>