<!DOCTYPE html>
<html lang="zh_Hans" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <meta content="IE=Edge" http-equiv="X-UA-Compatible"/>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <title>本地检测报告</title>
    <link href="../static/bootstrap.min.css" rel="stylesheet"/>
</head>

<body>
<div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button class="navbar-toggle" data-target=".navbar-collapse" data-toggle="collapse" type="button">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="">主页</a>
        </div>
    </div>
</div>
<div class="container">
    <h1>检测报告</h1>
    <table class="table table-striped table-hover table-responsive" data-mobile-responsive="true"
           style="table-layout: fixed;">
        <thead>
        <tr>
            <th width="10%">检测项ID</th>
            <th width="30%">检测名称</th>
            <th width="7%">等级</th>
            <th width="7%">通过情况</th>
            <th width="46%">建议</th>
        </tr>
        </thead>
        <tbody>
        {% for item in items %}
            <tr>
                <td>HIK-LC-{{ item.UnionId }}</td>
                <td>{{ item.ItemName }}</td>
                <td>{{ item.Level }}</td>
                {% if item.mPassed %}
                    <td class="success text-muted">通过</td>
                    <td>-</td>
                {% else %}
                    <td  class="danger"><b>未通过</b></td>
                    <td>{{ item.Advise }}</td>
                {% endif %}


            </tr>
        {% endfor %}


        </tbody>
    </table>

</div>
<script src="../static/bootstrap.min.js"></script>
<script src="../static/jquery.min.js"></script>
</body>
</html>
